__pycache__/
*.pyc

.venv/
venv/
.env
*.env
testenv/

instance/

.vscode/
.idea/

.pytest_cache/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Flask migration cache
migrations/*.pyc
migrations/__pycache__/
migrations/versions/__pycache__/


# OS files
.DS_Store
Thumbs.db
